
#search {
    width: 405px; height: 28px;
    background-color:rgb(218, 218, 218);
    border: solid rgb(218, 218, 218);
    border-width: 2px 3px;
    border-radius: 15px;
    margin-top: 200px;
    padding-top: 3px;
}